<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href="https://kendo.cdn.telerik.com/themes/7.0.2/default/default-main.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

  <script src="js/kendo.all.min.js"></script>

  <script>
    let chartData=[[${chartData}]];
  </script>
<style>
  circle{
    display: none;
  }
  body{
    background-color: black;
  }
</style>
</head>
<body>
<div id="example">
  <div class="demo-section wide">
    <div id="chart"></div>
  </div>
  <script>
    function createChart() {
      $("#chart").kendoChart({
        plotArea: {
          background: "black"
        },
        title: {
          text: "Charge current vs. charge time"
        },
        legend: {
          visible: true
        },
        seriesDefaults: {
          type: "scatterLine"
        },
        series: [{
          name: "0.8C",
          data: chartData,
          color: "lightgreen",
        }],
        xAxis: {
          //max: 90,
          labels: {
            format: "{0}"
          },
          title: {
            text: "Filessize [kB]"
          },
          minorGridLines: {
            visible: true
          },
          minorTicks: {
            visible: true
          }


        },
        yAxis: {
          //max: 100,
          labels: {
            format: "{0}"
          },
          title: {
            text: "Charge"
          }
        },
        tooltip: {
          visible: true,
          format: "{1} Files with {0} kB"
        }
      });
    }


    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);
  </script>
</div>



</body>
</html>