html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}

body{
    background-image: url("../images/greenTable.webp");
}

#debugger{
    display: none;
    background-color: black;
    color: lightgreen;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 400px;
    height: 800px;
    font-size: 12px;
}


#templates{
    display: none;
}

#gameHeadline{
    text-align: center;
    font-size: 35px;
    color: gold;
}

#game-outerboard{
}

#currentMessage{
    color: white;
    font-size: 26px;
    text-align: center;
}

#game-parent{
    display: flex;
    justify-content: left;
    align-items: normal;
    height: 100%;
    width: 100%;
}


.row{
    display: flex;
}

.card{
    width: 59px;
    height: 84px;
    margin: 5px;
    /*background-color: white;*/
    border-radius: 10px;
}

.card-small{
    height: 13px;
}

.card-front{
    height: 100%;
    width: 100%;
}

.card-front>div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-front img{
    display: block;
    width: 60px;
    height: 90px;
}

.card-front .cardValue{
    display: none;
}

.playerStackBox {
    width: 150px;
    height: 745px;
    margin: 5px;
    border: 1px solid black;
    color: gold;

}
.playerStackBox img {
    border: 1px solid white;
}

.playerStackBoxHeadline{
    text-align: center;
}
#player1stackCards,#player2stackCards{
    padding-top: 43px;
}