<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Memory HTML</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>

    <script type="javascript">
        let currentUser='[[${currentUser}]]';
    </script>
</head>
<body onload="mainEntry()">
<div>

    <div id="gameHeadline">Memory Game <a href="/logout">Logout</a><span sec:authentication="name"></span></div>
    <div id="game-outerboard">
        <div id="currentMessage">Hello</div>
        <div id="game-parent">
            <div id="game-board"></div>
            <div id="player1stack" class="playerStackBox">
                <div class="playerStackBoxHeadline">Player 1</div>
                <div id="player1stackCards"></div>
            </div>
            <div id="player2stack" class="playerStackBox">
                <div class="playerStackBoxHeadline">Player 2</div>
                <div id="player2stackCards"></div>
            </div>
        </div>
    </div>
</div>
<!-- Templates -->
<div id="templates">
    <div class="row"></div>
    <div class="card">
        <div class="card-front">
            <div>
                <img src="">
                <div class="cardValue"></div>
            </div>
        </div>
    </div>
</div>
<div id="debugger"></div>
</body>
</html>